# https://console.aiven.io/
AIVEN_MYSQL_HOST=mysql-******-dbstore.b.aivencloud.com
AIVEN_MYSQL_PORT=******
AIVEN_MYSQL_NAME=jwt
AIVEN_MYSQL_USER=avnadmin
AIVEN_MYSQL_PASSWORD=AVNS_PG_******
# openssl rand -base64 32
JWT_SECRET_KEY=****************