<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JWT</title>
</head>
<body>
<h1>JWT</h1>
<h2>회원가입</h2>
<section>
    <form th:action="@{/signup}" method="post" th:object="${form}">
        <label>유저ID <input th:field="*{username}"/></label><br>
        <label>비밀번호 <input type="password" th:field="*{password}"/></label><br>
        <button>회원가입</button>
    </form>
</section>
</body>
</html>